<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<!-- 각 페이지의 CSS가 작성될 위치 -->
<th:block layout:fragment="css">
	<style></style>
</th:block>

<div layout:fragment="content">
	<section class="after-head d-flex section-text-white position-relative">
		<div class="d-background"
			data-image-src="http://via.placeholder.com/1920x1080"
			data-parallax="scroll"></div>
		<div class="d-background bg-black-80"></div>
		<div class="top-block top-inner container">
			<div class="top-block-content">
				<h1 class="section-title">영화 정보</h1>
				<div class="page-breadcrumbs">
					<a class="content-link" href="/">Home</a> <span
						class="text-theme mx-2"><i class="fas fa-chevron-right"></i></span>
					<a class="content-link" href="movies-blocks.html">Movies</a>
				</div>
			</div>
		</div>
	</section>
	<div class="container">
		<div class="sidebar-container">
			<div class="content">
				<section class="section-long">
					<div class="section-line">
						<div class="movie-info-entity">
							<div class="entity-poster" data-role="hover-wrap">
								<div class="embed-responsive embed-responsive-poster">
									<img class="embed-responsive-item"
										th:src="${movie.movieImgDtoList[0].imgUrl}"
										th:alt="${movie.movieNm}" />
								</div>
								<div class="d-over bg-theme-lighted collapse animated faster"
									data-show-class="fadeIn show" data-hide-class="fadeOut show">
									<div class="entity-play">
										<a
											class="action-icon-theme action-icon-bordered rounded-circle"
											href="https://www.youtube.com/watch?v=d96cjJhvlMA"
											data-magnific-popup="iframe"> <span class="icon-content"><i
												class="fas fa-play"></i></span>
										</a>
									</div>
								</div>
							</div>
							<div class="entity-content">
								<h2 class="entity-title">[[${movie.movieNm}]]</h2>
								<div class="entity-category">
									<a class="content-link" href="movies-blocks.html">[[${movie.genre}]]</a>
								</div>
								<div class="entity-info">
									<div class="info-lines">
										<div class="info info-short">
											<span class="text-theme info-icon"><i
												class="fas fa-star"></i></span> <span class="info-text">8,7</span>
											<span class="info-rest">/10</span>
										</div>
										<div class="info info-short">
											<span class="text-theme info-icon"><i
												class="fas fa-clock"></i></span> <span class="info-text">130</span>
											<span class="info-rest">&nbsp;min</span>
										</div>
									</div>
								</div>
								<ul class="entity-list">
									<li><span class="entity-list-title">개봉일:</span>[[${movie.mvPeriodS}]]</li>
									<li><span class="entity-list-title">감독:</span> <a
										class="content-link" href="#">[[${movie.movieDirector}]]</a></li>
									<li><span class="entity-list-title">배우:</span> <a
										class="content-link" href="#">[[${movie.movieActors}]]</a></li>
									<li><span class="entity-list-title">장르:</span> <a
										class="content-link" href="#">[[${movie.genre}]]</a></li>
									<li><span class="entity-list-title">기본 정보:</span> <a
										class="content-link" href="#">USA</a></li>
									<li><span class="entity-list-title">상영 시간:</span> <a
										class="content-link" href="#">[[${movie.mvRuntime}]]</a></li>
									<li><span class="entity-list-title">국가:</span>english</li>
									<li><a class="btn-theme btn"
										th:href="'/seatInformation/' + ${movie.id}">예매하기</a></li>
								</ul>
							</div>
						</div>
					</div>

					<div class="section-line">
						<div class="section-head">
							<h2 class="section-title text-uppercase">Synopsis</h2>
						</div>
						<div class="section-description">
							<h6 class="text-dark">[[${movie.movieDetail}]]</h6>
						</div>
					</div>

					<div class="section-line">
						<div class="section-head">
							<h2 class="section-title text-uppercase">Photos & videos</h2>
						</div>

						<div class="grid row">
							<div class="col-sm-6 col-xl-4">

								<th:block th:each="movie, status: ${movie}">
									<div class="gallery-card-entity">
										<div class="entity-preview" data-role="hover-wrap">
											<div class="embed-responsive embed-responsive-16by9">
												<img class="embed-responsive-item" th:src="${movie.imgUrl}"
													alt="" />
											</div>
											<div class="d-over bg-black-40 collapse animated faster"
												data-show-class="fadeIn show" data-hide-class="fadeOut show">
												<div class="entity-view-popup">
													<a class="content-link action-icon-bordered rounded-circle"
														href="http://via.placeholder.com/1920x1080"
														data-magnific-popup="image"> <span
														class="icon-content"><i class="fas fa-search"></i></span>
													</a>
												</div>
											</div>
										</div>
										<div class="entity-content">
											<h4 class="entity-title">Work hard image</h4>
											<p class="entity-subtext">12 may 2019</p>
										</div>
									</div>
								</th:block>

							</div>
							<div class="col-sm-6 col-xl-4">
								<div class="gallery-card-entity">
									<div class="entity-preview" data-role="hover-wrap">
										<div class="embed-responsive embed-responsive-16by9">
											<img class="embed-responsive-item"
												th:src="${movie.movieImgDtoList[2].imgUrl}" alt="" />
										</div>
										<div class="bg-theme-lighted d-over collapse animated faster"
											data-show-class="fadeIn show" data-hide-class="fadeOut show">
											<div class="entity-view-popup">
												<a
													class="action-icon-theme action-icon-bordered rounded-circle"
													href="https://www.youtube.com/watch?v=d96cjJhvlMA"
													data-magnific-popup="iframe"> <span
													class="icon-content"><i class="fas fa-play"></i></span>
												</a>
											</div>
										</div>
									</div>
									<div class="entity-content">
										<h4 class="entity-title">May video review</h4>
										<p class="entity-subtext">11 may 2019</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-xl-4">
								<div class="gallery-card-entity">
									<div class="entity-preview" data-role="hover-wrap">
										<div class="embed-responsive embed-responsive-16by9">
											<img class="embed-responsive-item"
												th:src="${movie.movieImgDtoList[3].imgUrl}" alt="" />
										</div>
										<div class="d-over bg-black-40 collapse animated faster"
											data-show-class="fadeIn show" data-hide-class="fadeOut show">
											<div class="entity-view-popup">
												<a class="content-link action-icon-bordered rounded-circle"
													href="http://via.placeholder.com/1920x1080"
													data-magnific-popup="image"> <span class="icon-content"><i
														class="fas fa-search"></i></span>
												</a>
											</div>
										</div>
									</div>
									<div class="entity-content">
										<h4 class="entity-title">Virtual image title</h4>
										<p class="entity-subtext">31 february 2019</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-xl-4">
								<div class="gallery-card-entity">
									<div class="entity-preview" data-role="hover-wrap">
										<div class="embed-responsive embed-responsive-16by9">
											<img class="embed-responsive-item"
												src="http://via.placeholder.com/1920x1080" alt="" />
										</div>
										<div class="d-over bg-black-40 collapse animated faster"
											data-show-class="fadeIn show" data-hide-class="fadeOut show">
											<div class="entity-view-popup">
												<a class="content-link action-icon-bordered rounded-circle"
													href="http://via.placeholder.com/1920x1080"
													data-magnific-popup="image"> <span class="icon-content"><i
														class="fas fa-search"></i></span>
												</a>
											</div>
										</div>
									</div>
									<div class="entity-content">
										<h4 class="entity-title">Lost image title</h4>
										<p class="entity-subtext">30 february 2019</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-xl-4">
								<div class="gallery-card-entity">
									<div class="entity-preview" data-role="hover-wrap">
										<div class="embed-responsive embed-responsive-16by9">
											<img class="embed-responsive-item"
												src="http://via.placeholder.com/1920x1080" alt="" />
										</div>
										<div class="d-over bg-black-40 collapse animated faster"
											data-show-class="fadeIn show" data-hide-class="fadeOut show">
											<div class="entity-view-popup">
												<a class="content-link action-icon-bordered rounded-circle"
													href="http://via.placeholder.com/1920x1080"
													data-magnific-popup="image"> <span class="icon-content"><i
														class="fas fa-search"></i></span>
												</a>
											</div>
										</div>
									</div>
									<div class="entity-content">
										<h4 class="entity-title">My image title</h4>
										<p class="entity-subtext">21 january 2019</p>
									</div>
								</div>
							</div>
							<div class="col-sm-6 col-xl-4">
								<div class="gallery-card-entity">
									<div class="entity-preview" data-role="hover-wrap">
										<div class="embed-responsive embed-responsive-16by9">
											<img class="embed-responsive-item"
												src="http://via.placeholder.com/1920x1080" alt="" />
										</div>
										<div class="bg-theme-lighted d-over collapse animated faster"
											data-show-class="fadeIn show" data-hide-class="fadeOut show">
											<div class="entity-view-popup">
												<a
													class="action-icon-theme action-icon-bordered rounded-circle"
													href="https://www.youtube.com/watch?v=d96cjJhvlMA"
													data-magnific-popup="iframe"> <span
													class="icon-content"><i class="fas fa-play"></i></span>
												</a>
											</div>
										</div>
									</div>
									<div class="entity-content">
										<h4 class="entity-title">Movie trailer</h4>
										<p class="entity-subtext">12 january 2019</p>
									</div>
								</div>
							</div>
						</div>
						<div class="section-bottom">
							<a class="btn btn-theme" href="gallery.html">View All</a>
						</div>
					</div>


				</section>
			</div>
			<div class="sidebar section-long order-lg-last">
				<section class="section-sidebar">
					<div class="section-head">
						<h2 class="section-title text-uppercase">Latest movies</h2>
					</div>
					<th:block th:each="movie, status: ${movies}">
						<div class="movie-short-line-entity">
							<a class="entity-preview" href="movie-info-sidebar-right.html">
								<span class="embed-responsive embed-responsive-16by9"> <img
									class="embed-responsive-item"
									src="http://via.placeholder.com/1920x1080" alt="" />
							</span>
							</a>
							<div class="entity-content">
								<h4 class="entity-title">
									<a class="content-link" href="movie-info-sidebar-right.html">[[${movie.movieNm}]]</a>
								</h4>
								<p class="entity-subtext">11 nov 2018</p>
							</div>
						</div>
					</th:block>

				</section>
				<section class="section-sidebar">
					<div class="section-head">
						<h2 class="section-title text-uppercase">Archive</h2>
					</div>
					<ul class="list-unstyled list-wider list-categories">
						<li><a class="content-link text-uppercase" href="#">July
								2018</a></li>
						<li><a class="content-link text-uppercase" href="#">June
								2018</a></li>
						<li><a class="content-link text-uppercase" href="#">May
								2018</a></li>
						<li><a class="content-link text-uppercase" href="#">April
								2018</a></li>
					</ul>
				</section>
				<section class="section-sidebar">
					<a class="d-block" href="#"> <img class="w-100"
						src="http://via.placeholder.com/350x197" alt="" />
					</a>
				</section>
			</div>
		</div>
	</div>
	<a class="scroll-top disabled" href="#"><i class="fas fa-angle-up"
		aria-hidden="true"></i></a>
</div>

<!-- 각 페이지의 스크립트가 작성될 위치 -->
<th:block layout:fragment="script">
	<script th:inline="javascript"></script>
</th:block>
</html>