<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout1}">

<body class="body" layout:fragment="content">

	<section class="section-text-white position-relative">
		<div class="d-background"
			data-image-src="http://via.placeholder.com/1920x1080"
			data-parallax="scroll"></div>
		<div class="d-background bg-theme-blacked"></div>
		<div class="mt-auto container position-relative">
			<div class="top-block-head text-uppercase">
				<h2 class="display-4">
					Now <span class="text-theme">in cinema</span>
				</h2>
			</div>

			<div class="top-block-footer">
				<div class="slick-spaced slick-carousel"
					data-slick-view="navigation responsive-4">

					<div class="slick-slides">

						<th:block th:each="movie, status: ${moviesRank}">
							<div class="slick-slide">
								<article class="poster-entity" data-role="hover-wrap">
									<div class="embed-responsive embed-responsive-poster">
										<img class="embed-responsive-item" th:src="${movie.imgUrl}"
											th:alt="${movie.movieNm}" />
									</div>
									<div
										class="d-background bg-theme-lighted collapse animated faster"
										data-show-class="fadeIn show" data-hide-class="fadeOut show"></div>
									<div class="d-over bg-highlight-bottom">
										<div class="collapse animated faster entity-play"
											data-show-class="fadeIn show" data-hide-class="fadeOut show">
											<a
												class="action-icon-theme action-icon-bordered rounded-circle"
												href="https://www.youtube.com/watch?v=d96cjJhvlMA"
												data-magnific-popup="iframe"> <span class="icon-content"><i
													class="fas fa-play"></i></span>
											</a>
										</div>
										<h4 class="entity-title">
											<a class="content-link" th:href="'/movie/' + ${movie.id}">[[${movie.movieNm}]]</a>
										</h4>
										<div class="entity-category">
											<a class="content-link" href="movies-blocks.html"></a>
										</div>
										<div class="entity-info">
											<div class="info-lines">
												<div class="info info-short">
													<span class="text-theme info-icon"><i
														class="fas fa-star"></i></span> <span class="info-text">6,8</span>
													<span class="info-rest">/10</span>
												</div>
												<div class="info info-short">
													<span class="text-theme info-icon">예매율</span> <span
														class="info-text">17.8%</span>
												</div>
											</div>
										</div>
									</div>
								</article>
							</div>
						</th:block>

					</div>
					<div class="slick-arrows">
						<div class="slick-arrow-prev">
							<span class="th-dots th-arrow-left th-dots-animated"> <span></span>
								<span></span> <span></span>
							</span>
						</div>
						<div class="slick-arrow-next">
							<span class="th-dots th-arrow-right th-dots-animated"> <span></span>
								<span></span> <span></span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- NOW IN PLAY -->
	<section class="section-long">
		<div class="container">
			<div class="section-head">
				<h2 class="section-title text-uppercase">Now in play</h2>
				<p class="section-text">Dates: 27 - 29 jun 2023</p>
			</div>

			<th:block th:each="movie, status: ${movies}">
				<article class="movie-line-entity">
					<div class="entity-poster" data-role="hover-wrap">
						<div class="embed-responsive embed-responsive-poster">
							<img th:src="${movie.imgUrl}" th:alt="${movie.movieNm}"
								class="embed-responsive-item" alt="Image" />
						</div>
						<div class="d-over bg-theme-lighted collapse animated faster"
							data-show-class="fadeIn show" data-hide-class="fadeOut show">
							<div class="entity-play">
								<a class="action-icon-theme action-icon-bordered rounded-circle"
									href="https://www.youtube.com/watch?v=d96cjJhvlMA"
									data-magnific-popup="iframe"> <span class="icon-content"><i
										class="fas fa-play"></i></span>
								</a>
							</div>
						</div>
					</div>
					<div class="entity-content">
						<h4 class="entity-title">
							<a class="content-link" th:href="'/movie/' + ${movie.id}">[[${movie.movieNm}]]</a>
						</h4>
						<div class="entity-category">
							<a class="content-link" href="movies-blocks.html">[[${movie.genre}]]</a>
						</div>
						<div class="entity-info">
							<div class="info-lines">
								<div class="info info-short">
									<span class="text-theme info-icon"><i
										class="fas fa-star"></i></span> <span class="info-text">8,1</span> <span
										class="info-rest">/10</span>
								</div>
								<div class="info info-short">
									<span class="text-theme info-icon">예매율</span> <span
										class="info-text">22.2%</span>
								</div>
							</div>
						</div>
						<p class="text-short entity-text">[[${movie.movieDetail}]]</p>
					</div>
					<div class="entity-extra">
						<div class="text-uppercase entity-extra-title">상영시간</div>
						<div class="entity-showtime">
							<div class="showtime-wrap">
								<div class="showtime-item">
									<span class="disabled btn-time btn" aria-disabled="true">11
										: 30</span>
								</div>
								<div class="showtime-item">
									<a class="btn-time btn" aria-disabled="false"
										th:href="'/movie/' + ${movie.id}">13 : 25</a>
								</div>
								<div class="showtime-item">
									<a class="btn-time btn" aria-disabled="false" href="#">16 :
										07</a>
								</div>
								<div class="showtime-item">
									<a class="btn-time btn" aria-disabled="false" href="#">19 :
										45</a>
								</div>
								<div class="showtime-item">
									<a class="btn-time btn" aria-disabled="false" href="#">21 :
										30</a>
								</div>
								<div class="showtime-item">
									<a class="btn-time btn" aria-disabled="false" href="#">23 :
										10</a>
								</div>
							</div>
						</div>
					</div>
				</article>
			</th:block>

			<article class="movie-line-entity">
				<div class="entity-poster" data-role="hover-wrap">
					<div class="embed-responsive embed-responsive-poster">
						<img class="embed-responsive-item"
							src="/images/poster/elemental.jpg" alt="엘리멘탈" />
					</div>
					<div class="d-over bg-theme-lighted collapse animated faster"
						data-show-class="fadeIn show" data-hide-class="fadeOut show">
						<div class="entity-play">
							<a class="action-icon-theme action-icon-bordered rounded-circle"
								href="https://www.youtube.com/watch?v=d96cjJhvlMA"
								data-magnific-popup="iframe"> <span class="icon-content"><i
									class="fas fa-play"></i></span>
							</a>
						</div>
					</div>
				</div>
				<div class="entity-content">
					<h4 class="entity-title">
						<a class="content-link" href="info">엘리멘탈</a>
					</h4>
					<div class="entity-category">
						<a class="content-link" href="movies-blocks.html">애니메이션</a>
					</div>
					<div class="entity-info">
						<div class="info-lines">
							<div class="info info-short">
								<span class="text-theme info-icon"><i class="fas fa-star"></i></span>
								<span class="info-text">6,8</span> <span class="info-rest">/10</span>
							</div>
							<div class="info info-short">
								<span class="text-theme info-icon">예매율</span> <span
									class="info-text">17.8%</span>
							</div>
						</div>
					</div>
					<p class="text-short entity-text">
						디즈니·픽사의 놀라운 상상력! 올여름, 세상이 살아 숨 쉰다 불, 물, 공기, 흙 4개의 원소들이 살고 있는 ‘엘리멘트
						시티’ 재치 있고 불처럼 열정 넘치는 ‘앰버'는 어느 날 우연히 유쾌하고 감성적이며 물 흐르듯 사는 '웨이드'를 만나
						특별한 우정을 쌓으며, 지금껏 믿어온 모든 것들이 흔들리는 새로운 경험을 하게 되는데... 제 76회 칸 영화제 폐막작
						선정!
						<굿 다이노> 피터 손 감독 연출 <인사이드 아웃>, <소울> 피트 닥터 제작 참여 
					</p>
				</div>
				<div class="entity-extra">
					<div class="text-uppercase entity-extra-title">상영시간</div>
					<div class="entity-showtime">
						<div class="showtime-wrap">
							<div class="showtime-item">
								<span class="disabled btn-time btn" aria-disabled="true">11
									: 30</span>
							</div>
							<div class="showtime-item">
								<a class="btn-time btn" aria-disabled="false" href="#">13 :
									25</a>
							</div>
							<div class="showtime-item">
								<a class="btn-time btn" aria-disabled="false" href="#">16 :
									07</a>
							</div>
							<div class="showtime-item">
								<a class="btn-time btn" aria-disabled="false" href="#">19 :
									45</a>
							</div>
							<div class="showtime-item">
								<a class="btn-time btn" aria-disabled="false" href="#">21 :
									30</a>
							</div>
							<div class="showtime-item">
								<a class="btn-time btn" aria-disabled="false" href="#">23 :
									10</a>
							</div>
						</div>
					</div>
				</div>
			</article>

		</div>
	</section>
	<section
		class="section-solid-long section-text-white position-relative">
		<div class="d-background"
			data-image-src="http://via.placeholder.com/1920x1080"
			data-parallax="scroll"></div>
		<div class="d-background bg-gradient-black"></div>
		<div class="container position-relative">
			<div class="section-head">
				<h2 class="section-title text-uppercase">Comming Soon</h2>
			</div>
			<div class="slick-spaced slick-carousel"
				data-slick-view="navigation single">
				<div class="slick-slides">
					<div class="slick-slide">
						<article class="movie-line-entity">
							<div class="entity-preview">
								<div class="embed-responsive embed-responsive-16by9">
									<img class="embed-responsive-item"
										src="/images/poster/runningman.jpg" alt="런닝맨" />
								</div>
								<div class="d-over">
									<div class="entity-play">
										<a
											class="action-icon-theme action-icon-bordered rounded-circle"
											href="https://www.youtube.com/watch?v=d96cjJhvlMA"
											data-magnific-popup="iframe"> <span class="icon-content"><i
												class="fas fa-play"></i></span>
										</a>
									</div>
								</div>
							</div>
							<div class="entity-content">
								<h4 class="entity-title">
									<a class="content-link" href="info">런닝맨-풀룰루의 역습</a>
								</h4>
								<div class="entity-category">
									<a class="content-link" href="movies-blocks.html">sport</a>, <a
										class="content-link" href="movies-blocks.html">musical</a>
								</div>
								<div class="entity-info">
									<div class="info-lines">
										<div class="info info-short">
											<span class="text-theme info-icon"><i
												class="fas fa-calendar-alt"></i></span> <span class="info-text">28
												jul 2023</span>
										</div>
										<div class="info info-short">
											<span class="text-theme info-icon"><i
												class="fas fa-clock"></i></span> <span class="info-text">77</span>
											<span class="info-rest">&nbsp;min</span>
										</div>
									</div>
								</div>
								<p class="text-short entity-text">“런닝맨들은 결코 씻을 수 없는 죄를
									범했노라!” 멸망 위기의 세상을 구하고 영웅이 된 런닝맨들. 어느 날, 풀룰루족들로 가득 찬 경기장으로 그들을
									데려온 제사장 “아콩”은 런닝맨들을 죄인으로 몰며 강제로 게임에 출전시킨다. 이름하여 '런닝맨 서바이벌'! 탈출할
									수 있는 기회는 단 한 번뿐! 각종 함정과 거대 미로가 가득한 이곳에서 런닝맨들은 과연 탈출에 성공하고 누명을
									벗을 수 있을까?!</p>
							</div>
						</article>
					</div>
					<div class="slick-slide">
						<article class="movie-line-entity">
							<div class="entity-preview">
								<div class="embed-responsive embed-responsive-16by9">
									<img class="embed-responsive-item"
										src="/images/poster/Pororo.jpg" alt="뽀로로" />
								</div>
								<div class="d-over">
									<div class="entity-play">
										<a
											class="action-icon-theme action-icon-bordered rounded-circle"
											href="https://www.youtube.com/watch?v=d96cjJhvlMA"
											data-magnific-popup="iframe"> <span class="icon-content"><i
												class="fas fa-play"></i></span>
										</a>
									</div>
								</div>
							</div>
							<div class="entity-content">
								<h4 class="entity-title">
									<a class="content-link" href="info">뽀로로 극장판 드래곤캐슬 대모험</a>
								</h4>
								<div class="entity-category">
									<a class="content-link" href="movies-blocks.html">drama</a>
								</div>
								<div class="entity-info">
									<div class="info-lines">
										<div class="info info-short">
											<span class="text-theme info-icon"><i
												class="fas fa-calendar-alt"></i></span> <span class="info-text">28
												jul 2023</span>
										</div>
										<div class="info info-short">
											<span class="text-theme info-icon"><i
												class="fas fa-clock"></i></span> <span class="info-text">70</span>
											<span class="info-rest">&nbsp;min</span>
										</div>
									</div>
								</div>
								<p class="text-short entity-text">깊은 산속 드래곤캐슬에 꼬마 드래곤 왕 아서의
									막강한 힘이 봉인된 보석 ‘드래곤 하트’를 빼앗아 왕이 되려는 수상한 마법사 게드가 나타난다. 한편, 우연히
									‘드래곤 하트’의 힘을 흡수한 크롱이 자이언트 크롱으로 변하면서 뽀로로와 친구들 역시 위험에 처한다. 아서와
									뽀로로와 친구들은 악당 마법사 게드로부터 힘을 되찾고 친구들을 구하기 위해 무적의 메카드래곤을 만들어 드래곤캐슬로
									향하는데…! 뽀로로와 친구들의 판타지 액션 어드벤처! 과연 드래곤캐슬과 소중한 친구들을 지켜낼 수 있을까?</p>
							</div>
						</article>
					</div>
					<div class="slick-slide">
						<article class="movie-line-entity">
							<div class="entity-preview">
								<div class="embed-responsive embed-responsive-16by9">
									<img class="embed-responsive-item"
										src="/images/poster/IndianaJones.jpg" alt="인디아나존스" />
								</div>
								<div class="d-over">
									<div class="entity-play">
										<a
											class="action-icon-theme action-icon-bordered rounded-circle"
											href="https://www.youtube.com/watch?v=d96cjJhvlMA"
											data-magnific-popup="iframe"> <span class="icon-content"><i
												class="fas fa-play"></i></span>
										</a>
									</div>
								</div>
							</div>
							<div class="entity-content">
								<h4 class="entity-title">
									<a class="content-link" href="info"></a>
								</h4>
								<div class="entity-category">
									<a class="content-link" href="movies-blocks.html">drama</a>, <a
										class="content-link" href="movies-blocks.html">superhero</a>
								</div>
								<div class="entity-info">
									<div class="info-lines">
										<div class="info info-short">
											<span class="text-theme info-icon"><i
												class="fas fa-calendar-alt"></i></span> <span class="info-text">28
												jun 2023</span>
										</div>
										<div class="info info-short">
											<span class="text-theme info-icon"><i
												class="fas fa-clock"></i></span> <span class="info-text">154</span>
											<span class="info-rest">&nbsp;min</span>
										</div>
									</div>
								</div>
								<p class="text-short entity-text">모험의 또 다른 이름, 마침내 그가 돌아왔다

									1969년 뉴욕 전설적인 모험가이자 고고학자 ‘인디아나 존스’ 앞에 대녀 ‘헬레나’와 오랜 숙적 ‘위르겐 폴러’의
									세력이 등장한다. 그들의 목표는 단 하나, 운명의 다이얼. 역사의 흐름을 바꿀 수 있는 다이얼을 차지하려는 쫓고
									쫓기는 위협 속에 ‘인디아나 존스’는 전 세계를 무대로 하는 새로운 모험에 뛰어드는데… “난 평생 이걸 찾아
									헤맸어” 끝나지 않은 모험, 전설은 영원하다</p>
							</div>
						</article>
					</div>
				</div>
				<div class="slick-arrows">
					<div class="slick-arrow-prev">
						<span class="th-dots th-arrow-left th-dots-animated"> <span></span>
							<span></span> <span></span>
						</span>
					</div>
					<div class="slick-arrow-next">
						<span class="th-dots th-arrow-right th-dots-animated"> <span></span>
							<span></span> <span></span>
						</span>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section-long">
		<div class="container">
			<div class="section-head">
				<h2 class="section-title text-uppercase">Review</h2>
			</div>
			<div class="grid row">
				<div class="col-md-6">
					<article class="article-tape-entity">
						<a class="entity-preview" href="article-sidebar-right.html"
							data-role="hover-wrap"> <span
							class="embed-responsive embed-responsive-16by9"> <img
								class="embed-responsive-item"
								src="http://via.placeholder.com/720x405" alt="" />
						</span> <span class="entity-date"> <span
								class="tape-block tape-horizontal tape-single bg-theme text-white">
									<span class="tape-dots"></span> <span
									class="tape-content m-auto">20 jul 2019</span> <span
									class="tape-dots"></span>
							</span>
						</span> <span class="d-over bg-black-80 collapse animated faster"
							data-show-class="fadeIn show" data-hide-class="fadeOut show">
								<span class="m-auto"><i class="fas fa-search"></i></span>
						</span>
						</a>
						<div class="entity-content">
							<h4 class="entity-title">
								<a class="content-link" href="article-sidebar-right.html">인디아나
									존스-운명의 다이얼</a>
							</h4>
							<div class="entity-category">
								<a class="content-link" href="news-blocks-sidebar-right.html">comedy</a>,
								<a class="content-link" href="news-blocks-sidebar-right.html">detective</a>,
								<a class="content-link" href="news-blocks-sidebar-right.html">sci-fi</a>
							</div>
							<p class="text-short entity-text">"난 평생 이걸 찾아 헤맸어" 운명이란 그런
								것이다. 생각하지도 못한 무언가를 발견했는데, 그것이 내게 항상 결여되어 있었다는 것을 확신하게 되는 것. 마지막
								시리즈 이만하면 잘 마무리 한 거라고 생각함,,메인 ost나올 때마다 벅차오르고 팬이라면... 80살 먹고도 액션
								찍어주는 주인공이 존재하는 영화를 어떻게 싫어할 수 있겠어. 심지어 젊은 모습도 넣어줌. 이 큰 스크린에요? 진짜
								달다... 이 영화는 다 준다고... 재미없고 있고 이런 걸 떠나서 노력이 보이고 눈물이 나오잖냐,,, 이 명성있는
								영화를 또 내고 싶지만 마무리를 어떻게 해야할지... 대사부터 결말까지 고민한 흔적이 보이니까 나쁜 점수를 주고
								싶지가 않음,,, 해리슨 포드, 매즈 미켈슨은 나를 왜 이렇게 힘들게 하지,, 엔딩 크레딧 다 보고 나오면서 바로
								다시 예매완,, 내려갈 때까지 봐줄게,,, 이거 진짜 가성비야 시리즈만 다 보면 그 시대 사람도 아닌데 추억이
								생긴다고 추억이,,, 다이얼은 내가 필요하다고... 나도 데려가요- 이 영화가 너무 기대 이상이라서 힘들다,, 이름
								있는 시리즈를 내면서 2023년 답게 노래도 감독도 업그레이드야,, 근데 추팔의 핵심인 배우는 똑같다...? 이
								미친 영화야... 날 놔줘...</p>
							<div class="entity-actions">
								<a class="text-uppercase" href="article-sidebar-right.html">Read
									More</a>
							</div>
						</div>
					</article>
				</div>
				<div class="col-md-6">
					<article class="article-tape-entity">
						<a class="entity-preview" href="article-sidebar-right.html"
							data-role="hover-wrap"> <span
							class="embed-responsive embed-responsive-16by9"> <img
								class="embed-responsive-item"
								src="http://via.placeholder.com/720x405" alt="" />
						</span> <span class="entity-date"> <span
								class="tape-block tape-horizontal tape-single bg-theme text-white">
									<span class="tape-dots"></span> <span
									class="tape-content m-auto">15 jun 2019</span> <span
									class="tape-dots"></span>
							</span>
						</span> <span class="d-over bg-black-80 collapse animated faster"
							data-show-class="fadeIn show" data-hide-class="fadeOut show">
								<span class="m-auto"><i class="fas fa-search"></i></span>
						</span>
						</a>
						<div class="entity-content">
							<h4 class="entity-title">
								<a class="content-link" href="article-sidebar-right.html">엘리멘탈</a>
							</h4>
							<div class="entity-category">
								<a class="content-link" href="news-blocks-sidebar-right.html">drama</a>,
								<a class="content-link" href="news-blocks-sidebar-right.html">superhero</a>
							</div>
							<p class="text-short entity-text">겁도 없이 너에게 뛰어들었고 우린 무지갤 만들었지</p>
							<div class="entity-actions">
								<a class="text-uppercase" href="article-sidebar-right.html">Read
									More</a>
							</div>
						</div>
					</article>
				</div>
				<div class="col-md-6">
					<article class="article-tape-entity">
						<a class="entity-preview" href="article-sidebar-right.html"
							data-role="hover-wrap"> <span
							class="embed-responsive embed-responsive-16by9"> <img
								class="embed-responsive-item"
								src="http://via.placeholder.com/720x405" alt="" />
						</span> <span class="entity-date"> <span
								class="tape-block tape-horizontal tape-single bg-theme text-white">
									<span class="tape-dots"></span> <span
									class="tape-content m-auto">24 may 2019</span> <span
									class="tape-dots"></span>
							</span>
						</span> <span class="d-over bg-black-80 collapse animated faster"
							data-show-class="fadeIn show" data-hide-class="fadeOut show">
								<span class="m-auto"><i class="fas fa-search"></i></span>
						</span>
						</a>
						<div class="entity-content">
							<h4 class="entity-title">
								<a class="content-link" href="article-sidebar-right.html">스파이더맨-어크로스
									더 유니버스</a>
							</h4>
							<div class="entity-category">
								<a class="content-link" href="news-blocks-sidebar-right.html">romance</a>,
								<a class="content-link" href="news-blocks-sidebar-right.html">historical</a>
							</div>
							<p class="text-short entity-text">잠깐 기절했다가 3편 나올 때 깨어나고싶다</p>
							<div class="entity-actions">
								<a class="text-uppercase" href="article-sidebar-right.html">Read
									More</a>
							</div>
						</div>
					</article>
				</div>
				<div class="col-md-6">
					<article class="article-tape-entity">
						<a class="entity-preview" href="article-sidebar-right.html"
							data-role="hover-wrap"> <span
							class="embed-responsive embed-responsive-16by9"> <img
								class="embed-responsive-item"
								src="http://via.placeholder.com/720x405" alt="" />
						</span> <span class="entity-date"> <span
								class="tape-block tape-horizontal tape-single bg-theme text-white">
									<span class="tape-dots"></span> <span
									class="tape-content m-auto">11 may 2019</span> <span
									class="tape-dots"></span>
							</span>
						</span> <span class="d-over bg-black-80 collapse animated faster"
							data-show-class="fadeIn show" data-hide-class="fadeOut show">
								<span class="m-auto"><i class="fas fa-search"></i></span>
						</span>
						</a>
						<div class="entity-content">
							<h4 class="entity-title">
								<a class="content-link" href="article-sidebar-right.html">범죄도시3</a>
							</h4>
							<div class="entity-category">
								<a class="content-link" href="news-blocks-sidebar-right.html">drama</a>,
								<a class="content-link" href="news-blocks-sidebar-right.html">western</a>,
								<a class="content-link" href="news-blocks-sidebar-right.html">sci-fi</a>
							</div>
							<p class="text-short entity-text">초롱이가 제일 강력하다.</p>
							<div class="entity-actions">
								<a class="text-uppercase" href="article-sidebar-right.html">Read
									More</a>
							</div>
						</div>
					</article>
				</div>
			</div>
			<div class="section-bottom">
				<a class="btn btn-theme" href="news-blocks-sidebar-right.html">View
					All News</a>
			</div>
		</div>
	</section>

	<a class="scroll-top disabled" href="#"><i class="fas fa-angle-up"
		aria-hidden="true"></i></a>


</body>
</html>